@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body{
    box-sizing: border-box;
    background-color: hsl(185, 75%, 39%);
    background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
    background-position: top left, bottom right;
    background-repeat: no-repeat, repeat;
    background-size: 50%, 50%;
    font-family: 'Kumbh Sans', sans-serif;
}

.profile--card{
    background-color: #ffffff;
    margin: auto;
    width: fit-content;
    margin-top: 15em;
    border-radius: 2em;
}

.profile--card__image{
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    background-image: url("./images/bg-pattern-card.svg");
    padding: 1em;
}

.profile--image{
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: 4em;
    left: 8em;
    
}

.profile--card__title{
    padding: 2em;
    padding-top: 3em;
}

.profile--card__name{
    font-size: 18px;
    text-align: center;
    padding-top: 1em;
}

.profile--card__age{
    color: rgb(117, 116, 116);
    font-size: 18px;
}

.profile--card__place{
    text-align: center;
    color: rgb(117, 116, 116);
    font-size: 16px;
}

.social--card__info{
    padding: 2em;
    padding-top: 1em;
    margin: auto;
}

.social--card{
    display: inline-block;
    width: fit-content;
    padding: 2em;
}

.social--card h1{
    font-size: 18px;
}

.social--card p{
    font-size: 16;
    font-weight: bold;
    color: rgb(117, 116, 116);
}

@media screen and (max-width: 962px){

    .profile--card{
        background-color: #ffffff;
        margin: auto;
        width: fit-content;
        margin-top: 15em;
        border-radius: 2em;
    }
}

@media screen and (max-width: 568px){
    .profile--card{
        background-color: #ffffff;
        margin: auto;
        width: fit-content;
        margin-top: 15em;
        border-radius: 2em;
    }

    .profile--image{
        left: 9em;
    }

}